# gradle files
.gradle
env.bat
env.sh

# generated artifacts
build
gen/
schema/
node_modules/

*.lck
*/aries-compile-classpath.jar
*/EPDM*/
aries-packages/target/
aries-packages/*.log*
aries-core-dummy.jar
pdmData-large.xml

failure.properties
config_override.properties
distributions
logs

# eclipse files
.metadata
*.launch
*/.classpath
*/.project
*/.settings
*/bin
*/build

!.s2i/*

aries-build

# idea files
*.iml
*.ipr
*.iws
.idea
.recommenders/

*.swp

/.DS_Store
.DS_Store
*.pyc

passwords_dev.sh

aries-plugin-pdm/*.xls
aries-plugin-pdm/pdmData-business-*.xml
aries-plugin-pdm/pdmData-large.xml
pdm-in/
pdm-out/
/bin/
/aries-compile-classpath.jar
/.project
/.classpath
/.nb-gradle
*/btm*.tlog
/.settings/
settings.gradle
*.tmp

/bin/
